{% extends 'base.html' %}
{%block title%}Atualize um CArd {%endblock%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Game: #{{character.game.id}} - {{character.game.name}} </h2>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <h2>Card: </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th> Imagem </th>
                        <th> Frase</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td> <img src= "../../../{{character.image}}" ></td>
                            <td> {{character.text}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form" method="post">
                {%csrf_token%}
                {{form}}
                <input type="submit" class="btn btn-info" value="ATUALIZAR">
            </form>
        </div>
    </div>
</div>
{%endblock%}