{% extends 'base.html' %}
{%block title%}Adicione um Game {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Adicione um novo Game - Landing Page</h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form" method="post"  enctype="multipart/form-data" >
                {%csrf_token%}
                {{form}}
                <input type="submit" class="btn btn-success" value="ADICIONAR">
            </form>
        </div>
    </div>
</div>
{%endblock%}