{% extends 'base.html' %}
{%block title%}Atualize um Game {%endblock%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>#{{game.id}} - {{game.name}} </h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form" method="post">
                {%csrf_token%}
                {{form}}
                <input type="submit" class="btn btn-info" value="ATUALIZAR">
            </form>
        </div>
    </div>
</div>
{%endblock%}