{% extends 'base.html' %}
{%block title%}  Lista de Games{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h2> Lista dos games(Landing Pages) </h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {%for game in game_list%}
                        <tr>
                            <td>{{game.id}}</td>
                            <td>{{game.name}}</td>
                            <td> <a href="{% url 'game_detail' pk=game.id %}"> <button class="btn btn-info"> Detalhes</button></a> </td>
                        </tr>
                    {%empty%}
                        <tr>
                            <td> Sem Games ainda. Adicione</td>
                        </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}