
{% extends 'base.html' %}
{%load staticfiles%}
{%load static%}
{%block title%} {{game.name}} - Detalhes {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2> {{game.name}} </h2>
            <ul>
                <li>Código do Jogo: #{{game.id}}</li>
                <li>Frase de descrição: <p>{{game.description_phrase}}</p> </li>
                <li>Descrição do Formulário: <p>{{game.form_description}}</p> </li>
                <li>  <a class="alert alert-success" href="{%url 'game_update' pk=game.id %}">EDITAR</a> </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <h2> Cards</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th> Imagem </th>
                        <th> Frase</th>
                        <th> Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {%for card in game.cards.all%}
                        <tr>
                            <td> <img src= "../../{{card.image}}" ></td>
                            <td> {{card.text}}</td>
                            <td> <a HREF="{% url 'card_update' pk=card.id %}" class="alert alert-success">ATUALIZAR</a></td>
                        </tr>
                    {%empty%}
                        <tr>
                            <td>Sem Cards. Adicine</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Adicione um Card</h5>
            <br>
            <form class="form" method="post" action="{% url 'card_create' pk=game.id %}"  enctype="multipart/form-data"  >
                {%csrf_token%}
                <label>Imagem do Card </label>
                <input type="file" name="image" accept="/image/*" class="form-control" >
                <label> Texto do Card </label>
                <input type="text" name="text" class="form-control">
                <input type="submit" value="ADICIONAR" class="btn btn-success">

            </form>
        </div>
    </div>


</div>
{%endblock%}