{% extends 'base.html' %}

{%block title %} Login - Painel{% endblock%}

{%block content %}
        <div class="row text-center">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="form">
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="ENTRAR" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}